<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="HealthPaltformContext" connectionString="data source=192.168.1.98\SQLEXPRESS,1433;initial catalog=HealthPlatform;persist security info=True;user id=his;password=12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    <!-- 網站根目錄設定-->
    <add key="BaseURL" value="http://192.168.1.66:8011/" />

    <!--TaiDoc Recieve APIURL-->
    <add key="TaiDocResultURL" value="http://172.24.19.145/PACMeasureAPI/api/Measure/AddMeasureRecord" />

    <!--<add key="TaiDocResultURL" value="http://61.216.6.217/PACMeasureAPI/api/Measure/AddMeasureRecord" />-->
    
    <add key="DESKey" value="12345678" />
    
    <add key="DESIV" value="12345678" />

    <add key="InitialDBData" value="ResultRemark.json" />

    <add key="RedirectUrl" value="http://www.pcstore.com.tw/store1533016938" />

    <add key="HtmlTitle" value="測量報告" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>