body {
    font-family: Microsoft JhengHei;
    /* font-weight: bold; */
}

.container {
    position: relative;
}

#BMI {
    position: absolute;
    top: 15.5%;
    left: 21%;
    font-size: 5.4vw;
    color: white;
}

#BMI_Dot {
    position: absolute;
    top: 15.5%;
    /*min 38 max 81.3*/
    left: 38%;
    font-size: 1vw;
    color: black;
}

#BMI_Hr {
    position: absolute;
    top: 15.5%;
    left: 38.5%;
    width: 100%;
    border-color: black;
}

.dot {
    height: 1vw;
    width: 1vw;
    background-color: #000;
    border-radius: 100%;
    display: inline-block;
}

#HeightValue {
    position: absolute;
    text-align: center;
    top: 31.2%;
    left: 10.5%;
    font-size: 6vw;
    color: #23a7c5;
}

#WeightValue {
    position: absolute;
    text-align: center;
    top: 26%;
    right: 15%;
    left: 68.5%;
    font-size: 6vw;
    color: #f9af2b;
}

#LowBP {
    position: absolute;
    text-align: center;
    top: 39.2%;
    right: 19%;
    left: 68.5%;
    font-size: 6vw;
    color: #f98846;
}

#HighBP {
    position: absolute;
    text-align: center;
    top: 42.8%;
    right: 19%;
    left: 68.5%;
    font-size: 6vw;
    color: #f98846;
}

#LowBPUnit {
    position: absolute;
    text-align: center;
    top: 41.6%;
    left: 81%;
    font-size: 2vw;
    color: #f98846;
}

#HighBPUnit {
    position: absolute;
    text-align: center;
    top: 45.2%;
    left: 81%;
    font-size: 2vw;
    color: #f98846;
}

#HeartBeat {
    position: absolute;
    text-align: center;
    top: 48.5%;
    left: 14%;
    font-size: 6vw;
    color: #243b47;
}

#BodyTemperture {
    position: absolute;
    text-align: center;
    top: 51.2%;
    left: 70.5%;
    font-size: 6vw;
    color: #8bc6bc;
}

#Remark {
    position: absolute;
    text-align: left;
    top: 65%;
    left: 15%;
    font-size: 4vw;
    color: white;
}


.valueDiv {
    position: absolute;
}
.myMOUSE {
    cursor: help;
}
/*div {
     border: 0.1px solid; 
}*/

.hide {
    display: none;
}
