body {
    background-image: url("../images/bk.png");
    /* background-repeat: no-repeat; */
    /* background: linear-gradient(to bottom,#207cca 74%,#7db9e8 100%); */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div {
    border: 1px solid;
}

.container {
    color: rgb(19, 252, 19);
}

#headRow {
    height: 13rem;
}

#titleText {
    padding-top: 6%;
    padding-left: 3%;
    color: white;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 5rem;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2rem;
}

/* ROW0 */

#BMITitle {
    font-size: 2rem;
    margin-top: 15%;
    margin-left: 54%;
}

#BMIValue {
    font-size: 4rem;
    margin-top: 0%;
    margin-left: 54%;
}

#BMIChartSqur {
    font-size: 4rem;
    margin-top: 0%;
    margin-left: 5%;
}

/* ROW1 */

#HeightRow {
    font-size: 3rem;
    margin-left: 6%;
}

#HeightTitle {
    margin-top: 32%;
    margin-left: 0%;
}

#HeightValue {
    font-size: 4.2rem;
    margin-top: 6%;
    margin-left: 0%;
    float: left;
}

#HeightUnit {
    font-size: 2.7rem;
    margin-top: 16%;
margin-left:2%;
    float: left;
}

#WeightRow {
    font-size: 3rem;
    margin-top: 10%;
    margin-left: 20%;
}

#WeightTitle {
    font-size: 3rem;
    margin-top: 10%;
    margin-left: 20%;
}

#main {
    margin-left: 4%;
    margin-right: 20%;
    width: 90%;
}

.hide {
    display: none;
}