html{
    align-content: center;
}
body {
    font-size: 1vh;
    margin:auto;
}

div {
    border: 0.1px solid;
    position: relative;
}
#main {
    height:120rem;
    margin:auto;
    background-image: url("../images/bk.png");
    background-repeat: no-repeat;
}
.container {
    color: rgb(19, 252, 19);
}

#headRow {
    height: 13.4rem;
}
#bodyRow{
    height: 59.5rem;
}
#footerRow{
    height: 47.1rem;
}

#titleText {
    padding-top: 6%;
    padding-left: 3%;
    color: white;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 5rem;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2rem;
    
}

/* ROW0 */
#BMI{
    
}
#BMITitle {
    font-size: 2rem;

    width: min-content;
}

#BMIValue {
    font-size: 4rem;

    width: min-content;
}

#BMIChartSqur {
    font-size: 4rem;

    width: min-content;
}

/* ROW1 */

#HeightRow {
    font-size: 3rem;
    margin-left: 6%;
}

#HeightTitle {
    margin-top: 32%;
    margin-left: 0%;
}

#HeightValue {
    font-size: 4.2rem;
    margin-top: 6%;
    margin-left: 0%;
    float: left;
}

#HeightUnit {
    font-size: 2.7rem;
    margin-top: 16%;
margin-left:2%;
    float: left;
}

#WeightRow {
    font-size: 3rem;
    margin-top: 10%;
    margin-left: 20%;
}

#WeightTitle {
    font-size: 3rem;
    margin-top: 10%;
    margin-left: 20%;
}



.hide {
    display: none;
}